astroid==2.4.2
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.3
comtypes==1.1.7
cv==1.0.0
cycler==0.10.0
docutils==0.16
Flask==1.1.2
gunicorn==20.0.4
h5py==2.10.0
idna==2.10
imutils==0.5.4
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.0
Keras==2.4.3
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
MouseInfo==0.1.3
numpy==1.19.0
opencv-python==4.4.0.42
panda==0.3.1
pandas==1.2.0
Pillow==7.2.0
plyer==1.4.3
PyAudio @ file:///C:/Users/divya/Downloads/PyAudio-0.2.11-cp38-cp38-win32.whl
PyAutoGUI==0.9.50
pygame==1.9.6
PyGetWindow==0.0.8
pylint==2.5.3
PyMsgBox==1.0.8
pyparsing==2.4.7
pyperclip==1.8.0
pypiwin32==223
PyRect==0.1.4
PyScreeze==0.1.26
python-dateutil==2.8.1
pyttsx3==2.90
PyTweening==1.0.3
pytz==2020.5
pywin32==228
PyYAML==5.3.1
requests==2.24.0
scikit-learn==0.24.0
scipy==1.5.2
six==1.15.0
soupsieve==2.0.1
SpeechRecognition==3.8.1
spicy==0.16.0
statistics==1.0.3.5
threadpoolctl==2.1.0
toml==0.10.1
urllib3==1.25.9
Werkzeug==1.0.1
wikipedia==1.4.0
wrapt==1.12.1
